node_modules
dist
.env
.DS_Store
.idea
.vscode
npm-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# WeChat miniprogram build outputs
gif_front/miniprogram_npm
gif_front/node_modules
gif_front/dist

# FFmpeg temp files
tmp
